<script>
  $(document).ready(function(){
    $.countdown.setDefaults({expiryUrl: "/address/<%= @address %>", labels: ['Years', 'Months', 'Weeks', 'Days', 'Hours', 'Minutes', 'Seconds']})
    $('.primary').click(function(){
      $('.primary').hide();
      $('.secondary').show();
    });
    $('.secondary').click(function(){
      $('.secondary').hide();
      $('.primary').show();
    });
  });
</script>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12">
        <div style="text-align:center !important" >
          <img src="https://chart.googleapis.com/chart?chs=256x256&cht=qr&chl=bitcoin:<%= @account.public_address %>" \>
        </div>
        <input type="button" class="btn-large teal" style="width: 100%" value="Refresh Balance"></input>
        <p class="text-center">Your Balance: <%= "%f" % @current_balance %> BTC<br />
        Spent Balance: <%= "%f" % @spent_balance %> BTC<br />
        Bitcoin Price: $<%= @price %></p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12">
        <p style="font-size:25px">Rates</p>
        <div style="margin-top: 10px; margin-bottom: 10px">
          1 minute: <div style="float: right"><span class="primary"><%= @price_one_min_satoshis %> satoshis</span><span class="secondary" style="display:none">$ <%= '%.8f' % (@price_one_min_usd) %></span></div><br/>
          10 minutes: <div style="float: right"><span class="primary"><%= @price_one_min_satoshis * 10 %> satoshis</span><span class="secondary" style="display:none">$ <%= '%.8f' % (@price_one_min_usd * 10) %></span></div><br/>
          30 minutes: <div style="float: right"><span class="primary"><%= @price_one_min_satoshis * 30 %> satoshis</span><span class="secondary" style="display:none">$ <%= '%.8f' % (@price_one_min_usd * 30) %></span></div><br/>
          1 hour: <div style="float: right"><span class="primary"><%= @price_one_min_satoshis * 60 %> satoshis</span><span class="secondary" style="display:none">$ <%= '%.8f' % (@price_one_min_usd * 60) %></span></div><br/>
          6 hours: <div style="float: right"><span class="primary"><%= @price_one_min_satoshis * 360 %> satoshis</span><span class="secondary" style="display:none">$ <%= '%.8f' % (@price_one_min_usd * 360) %></span></div>
        </div>

        <div>
          <strong>Estimated Time: <div style="float: right"><span id="estimate"><%= distance_of_time_in_words(@date, @date_estimate) %></span></div></strong><br/>
          <strong id="remaining_time"></strong>
          <div id="countdown"></div>
        </div>

        <% if @account.credential %>
          <div class="alert alert-success" id="holder" style="margin-top:10px">
            <p>Username: <%= @account.credential.username %><br/>
            Password: <%= @account.credential.password %></p>
            <a href="https://www.privateinternetaccess.com/pages/client-support/#forth">PPTP VPN Instant Setup Guides</a>
            <script>
              $(document).ready(function(){
                var date = new Date(<%= @date_estimate.year %>, <%= @date_estimate.month %>, <%= @date_estimate.day %>);
                $("#countdown").attr("style","height: 50px")
                $("#countdown").countdown({until: date});
                $("#remaining_time").text("Remaining Time: ")

                $("#stop_credentials").on('click', function(){
                  $("#holder").hide();
                  $("#countdown").hide();
                  $("#remaining_time").text("");
                }).on("ajax:success", function(e, data, status, xhr)
                {
                  location.reload();
                }).on("ajax:error", function(e, xhr, status, error)
                {
                  $("#holder").show();
                  $("#countdown").show();
                  $("#remaining_time").text("Remaining Time: ")
                  $("#holder").prepend("<div class='alert alert-danger'>" + error + "</div>")
                });
              });
            </script>
          </div>

          <%= form_tag('/stop_credentials', remote: true, id: 'stop_credentials') do %>
            <%= hidden_field :address, nil, value: @address, name: 'address', id: 'address' %>
            <%= submit_tag 'Stop VPN', class: 'btn-large red', style: "width: 100%" %>
          <% end %>
        <% elsif @current_balance > 0 %>
          <div id="holder" style="margin-top:10px">
            <%= form_tag('/generate_credentials', remote: true, id: 'generate_credentials') do %>
              <%= hidden_field :address, nil, value: @address, name: 'address', id: 'address' %>
              <%= submit_tag 'Generate Credentials', class: 'btn-large green', style: "width: 100%" %>
            <% end %>

            <%= form_tag('/withdraw_change', remote: true, id: 'withdraw_change', style: 'margin-top:10px') do %>
              <%= hidden_field :address, nil, value: @address, name: 'address', id: 'address' %>
              <%= submit_tag 'Withdraw Remainder', class: 'btn-large red', style: "width: 100%", :data => {:confirm => 'Are you sure? All balances will be settled on chain'} %>
            <% end %>

            <script>
            $(document).ready(function()
            {
              $("#withdraw_change").on("ajax:success", function(e, data, status, xhr){
                if (data.status == "success"){
                  $("#holder").html("<div class='alert alert-success'>"+data.data+"</div>");
                  //window.reload();
                } else {
                  $("#holder").prepend("<div class='alert alert-danger'>"+data.message+"</div>");
                  window.reload();
                }
              }).on("ajax:error", function(e, xhr, status, error){
                $("#holder").html("<div class='alert alert-danger'>Error withdrawing</div>")
              });
              $("#generate_credentials").on("ajax:success", function(e, data, status, xhr)
              {
                if (data.status == "success")
                {
                  $("#holder").html("<div class='alert alert-success'><p>Username: " + data.data[0] + "<br>Password: " + data.data[1] + "</p><a href='https://www.privateinternetaccess.com/pages/client-support/#forth'>PPTP VPN Instant Setup Guides</a></div>")
                  var date = new Date(<%= @date_estimate.year %>, <%= @date_estimate.month %>, <%= @date_estimate.day %>);
                  $("#countdown").attr("style","height: 50px");
                  $("#countdown").countdown({until: date});
                  $("#remaining_time").text("Remaining Time: ");
                }
                else
                {
                  $("#holder").prepend("<div class='alert alert-danger'>" + data.message + "</div>");
                }
              }).on("ajax:error", function(e, xhr, status, error)
              {
                $("#holder").prepend("<div class='alert alert-danger'>Error getting new credentials</div>");
              });
            });
            </script>
          </div>
        <% end %>
      </div>
        <% if @account_usage_past.count > 0 %>
        <div class="col-xl-12 col-lg-12 col-md-12">
          <div style="margin-top: 20px">
            <strong>Past Uses</strong>
            <table class="highlight responsive centered">
              <thead>
                <tr>
                  <th data-field="date">Date</th>
                  <th data-field="time">Time</th>
                  <th data-field="cost">Cost</th>
                </tr>
              </thead>
              <tbody>
                <% @account_usage_past.each do |object| %>
                <tr>
                  <td> <%= object.start_time.strftime("%m/%d/%Y") %></td>
                  <td> <%= distance_of_time_in_words(object.start_time, object.stop_time) %></td>
                  <td> <%= "%f" % (object.amount / 100000000.0) %> BTC</td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
