<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text text-lighten-2">Help Us</h1>
      <div class="row center">
        <h5 class="header col s12 light">Together We Can Make VPNs Great Again</h5>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="<%= image_path('background3.jpg') %>" alt="Unsplashed background img 1"></div>
</div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Our Service Is Powered By You</h4>
          <p class="center-align light">Make money by putting your Private Internet Access accounts to use.<br />
          We split our profits 70/30 in your favor.</p>
        </div>
      </div>


    </div>
  </div>


  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <div id="holder"></div>
          <%= form_tag('/add_credentials',remote: true, id: 'add_credentials') do %>
            <%= label_tag :public_address, 'Public Address' %>
            <%= text_field :public_address, nil, name: 'public_address', id: 'public_address' %>
            <%= label_tag :username, 'Username' %>
            <%= text_field :username, nil, name: 'username', id: 'username' %>
            <%= label_tag :password, 'Password' %>
            <%= password_field :password, nil, name: 'password', id: 'password' %>
            <%= submit_tag 'Add Credentials', class: 'btn-large green', style: "width: 100%" %>
          <% end %>

          <script>
            $("#stop_credentials").on("ajax:success", function(e, data, status, xhr)
            {
              window.reload()
            }).on("ajax:error", function(e, xhr, status, error)
            {
              $("#holder").html("<div class='alert alert-danger'>Error while registering</div>")
            });
          </script>

          <a href="/profit/settings" class='btn-large yellow' style= "width: 100%; margin-top:10px">Credentials Settings</a>
        </div>
      </div>
    </div>
  </div>
