<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Quick Vpn" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Quick Vpn" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>

    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l12 s12">
            <h5 class="white-text">The Promise: </h5>
            <p class="grey-text text-lighten-4">If you're not happy for any reason, we'll refund you your money. <br /> Your satisfaction is worth far more to us than a couple of pennies.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
